:root {
    --font-color: black;
    --nav-BorderRadius: 20px;
    --globalColor: #dfb2f4;
}

html {
    overflow: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./pictures/fond_violet.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    overflow: auto;
    backdrop-filter: blur(5px) ;
    background-color: rgba(255,255,255,0.4);
}

iframe {
    width: 300px;
    height: 300px;
}

header {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
    text-align: center;
    color: var(--font-color);
    margin-bottom: 3%;
}

.container {
    display: flex;
    overflow: hidden;
    /* grid-template-columns: 2fr 8fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 400px; */
}

nav {
    width: 20%;
    height: 400px;
    margin-right: 2%;
    border-radius: 0 20px 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: var(--globalColor);
}
nav * {
    transition: all 0.3s ease-out;
}
nav button:first-child {
    border-top-right-radius: inherit;
}
nav button:last-child {
    border-bottom-right-radius: inherit;
}
nav button {
    width: 100%;
    padding-right: 10px;
    background: none;
    cursor: pointer;
    border: none;
    flex: auto;
    font-size: 20px;
    color: var(--font-color);
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
}

nav button:hover {
    background-color: white;
}

.buttonText {
    display: inline-block;
}

nav button:hover .buttonText {
    transform: translateX(10px);
}

#boxContainer {
    width: 80%;
    display: flex;
}

.box {
    display: block;
    /* position: absolute; */
    border-radius: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    color: var(--font-color);
    transition: visibility 0s, opacity 0.5s linear;
    background: linear-gradient(90deg, var(--globalColor) 0%, rgba(255, 255, 255, 0) 100%);
}

.animated {
    animation-name: boxTranslate;
    animation-duration: 0.5s;
}

#ppImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    object-position: left 15%;
    display: block;
    margin: auto;
}
#boucbookImg {
    height: 80px;
    display: block;
    margin: auto;
}

#iframeLink {
    cursor: pointer;
    color: purple;
}

#iframeLink:hover,
#iframeLink:active {
    color: violet
}

.imgjam {
    transition: all 0.8s ease;
}

.imgjam:hover {
    transform: scale(2, 2);
    background-color: rgba(255, 255, 255, 0.475);
    border-radius: 20px;
}

@keyframes boxTranslate {
    from {
        transform: translateX(50px);
    }

    to {
        transform: translateX(0px);
    }
}

@media (max-width:800px) {
    nav {
        width: 100%;
        margin: 0;
        height: 400px;
        margin-bottom: 3%;
        background-color: var(--globalColor);
        border-radius: 0;
    }
    .container {
        flex-direction: column;
        height: auto;
    }
    #boxContainer {
        display: flex;
        width: 100%;
    }
    .box {
        background: linear-gradient(180deg, var(--globalColor) 0%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
    }
    #jamImgs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #jamImgs img {
        width: 30%;
        margin: 20px 0 20px 0;
    }
    nav button:hover .buttonText {
        transform: translateY(-5px);
    }

    @keyframes boxTranslate {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
    }
}
}