:root {
    --font-color: black;
    --nav-BorderRadius: 20px;
    --globalColor: rgba(223, 178, 244, 0.6);
    --lineColor: #a166bd;
}

html {
    overflow: auto;
    font-size: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./pictures/fond_violet.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    overflow: auto;
    backdrop-filter: blur(5px) ;
    background-color: rgba(255,255,255,0.4);
}

main {
    font-family: "Parkinsans", sans-serif;
}

iframe {
    width: 300px;
    height: 300px;
}

header {
    display: flex;
    white-space: nowrap;
}

h1 {
    font-family: "Parkinsans", sans-serif;
    text-align: center;
    color: var(--font-color);
    margin-bottom: 3%;
}

.container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    /* grid-template-columns: 2fr 8fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 400px; */
}

nav {
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /* background: var(--globalColor); */
}
nav * {
    transition: all 0.3s ease-out;
}
nav button {
    font-family: "Parkinsans", sans-serif;
    position: relative;
    width: 100%;
    padding-right: 10px;
    background: none;
    cursor: pointer;
    border: none;
    flex: auto;
    font-size: 20px;
    color: var(--font-color);
}

nav button:not(:first-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: var(--lineColor);
}

/* nav button:hover {
    background-color: white;
} */

.buttonText {
    display: inline-block;
}

nav button:hover .buttonText {
    transform: translateY(5px);
}

#boxContainer {
    width: 80%;
    display: flex;
}

.box {
    display: block;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    opacity: 1;
    color: var(--font-color);
    transition: visibility 0s, opacity 0.5s linear;
    background: linear-gradient(180deg, var(--globalColor) 0%, rgba(255, 255, 255, 0) 100%);
}

.animated {
    animation-name: boxTranslate;
    animation-duration: 0.5s;
}

#accueilContent {
    padding-top: 20vh;
    padding-left: 4vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: row;
}

#Name h1,h2 {
    margin-bottom: 5px;
    font-family: "Parkinsans", sans-serif;
    text-align: center;
    color: var(--font-color);
}

#Name h1 {
    font-size: 3.5em;
    font-weight: 500;
    margin-top: 0;
}

#Name h2 {
    font-size: 2em;
    margin-top: 0;
    font-weight: lighter;
}

#boxAccueil {
    padding: 0;
}

#ppImg {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    object-position: left 25%;
    display: inline-block;
    overflow: hidden;
}

#accueilText {
    width: 100%;
    text-align: center;
}

#infoAlternance {
    padding: 3em 2em 0 2em;
    line-height: 2.5em;
}

#boxProfil {
    line-height: 2;
    padding: 20px;
}

#titleDev {
    text-align: center;
    position: relative;
    font-weight: 500;
    font-size: 50px;
    z-index: 1;
    margin-top: 100px;
}

#titleDev::before {
    content: "";
    background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 0;
    transform: translate(-50%, -50%);
}

#titleDev span {
    position: relative;
    z-index: 1;
}

#subDev {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.caliperModel {
    display: block;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

#paint {
    margin-left: 15px;
}

#htmlModel {
    margin-right: 15px;
}

#cvContainer {
    width: 800px;
    position: relative;
    text-align: center;
}

#cvContainer span {
    position: relative;
    z-index: 1;
}

#cvImg {
   height: 200px;
   position: relative;
}

#cvContainer::before {
    content: "";
    background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.story {
    display: flex;
    align-items: center;
}

.story p {
    text-align: center;
    padding: 30px;
    position: relative;
    z-index: 1;
}

#boucbookImg {
    height: 80px;
    display: block;
    margin: auto;
}

#iframeLink {
    cursor: pointer;
    color: purple;
}

#iframeLink:hover,
#iframeLink:active {
    color: violet
}

.imgjam {
    transition: all 0.8s ease;
}

.imgjam:hover {
    transform: scale(2, 2);
    background-color: rgba(255, 255, 255, 0.475);
    border-radius: 20px;
}

@keyframes boxTranslate {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
    }
}

@media (max-width:800px) {
    html, body {
        min-height: 100dvh;
    }
    header {
        flex-direction: column;
    }
    nav {
        width: 100%;
        margin: 0;
        height: 400px;
        margin-bottom: 3%;
        border-radius: 0;
        flex-direction: column;
    }
    nav button:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--lineColor);
    }
    nav button:last-child::after {
        display: none;
    }
    .container {
        flex-direction: column;
        height: auto;
    }
    #boxContainer {
        display: flex;
        width: 100%;
    }
    #Name {
        padding: 10px;
    }
    #accueilContent {
        flex-direction: column;
        padding: 20px 0 0 0;
    }
    #infoAlternance {
        padding: 1em 1em 0 1em;
    }
    #ppImg {
        width: 70vw;
        height: 70vw;
    }
    #ppContainer {
        text-align: center;
    }
    .box {
        background: linear-gradient(180deg, var(--globalColor) 0%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
    }
    .story {
        flex-direction: column;
    }
    .story p {
        padding: 0;
    }
    #design, #conclusion {
        flex-direction: column-reverse;
    }
    #jamImgs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #jamImgs img {
        width: 30%;
        margin: 20px 0 20px 0;
    }
    nav button:hover .buttonText {
        transform: translateY(-5px);
    }

    @keyframes boxTranslate {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
    }
}
}